html {font-size: 1em;}

body {
  background-color: red;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: $font-color;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: inherit;
  line-height: 1.2;
}

h1,
.heading-1 {
  font-size: 3.998em;
}

h2,
.heading-2 {
    font-size: 2.827em;
}

h3,
.heading-3 {
    font-size: 1.999em;
}

h4,
.heading-4 {
    font-size: 1.414em;
}

small, .font--small {font-size: 0.707em;}