doctype html
html.no-js(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='css/style.css')
    body
        //if lte IE 9
            p.browserupgrade
                | You are using an 
                strong outdated
                |  browser. Please 
                a(href='https://browsehappy.com/') upgrade your browser
                |  to improve your experience and security.
        // Add your site or application content here
        include blocks/header
        .container
            .row
                .col
                    h1 w5g35